.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.1);
    background-color: rgba($color-white,.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; //translateX(-3rem) in &__shape needs to be compensated here so the image keeps its original position (6rem+3rem)
    font-size: $default-font-size;

//    @include clearfix;
    
    transform: skewX(-12deg);
    

// It doesn't work this way because of &__shape is actually using transform property and takes precedense over this one.
// Therefore only the traslation applies and not the skew. We need to apply skewX() on each element individually.
//    & > *{
//        transform: skewX(12deg);
//    }
    
    
    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        
        //Defines the shape of a floated element so the wrapped text sticks to it.
        //This element needs to be floated and with dimensions defines (width and height).
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        
        transform: translateX(-3rem) skewX(12deg);
        
        position: relative;
    }
    
    &__img{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
//        backface-visibility: hidden; //it seems not to be needed in 2019
        transition: all .5s;
    }
    
    &__text{
        transform: skewX(12deg);
    }
    
    &__caption{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; //to fix the small glitch at the end of the animation.
    }
    
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    
    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}